
.imgstyle{
	width:auto;
	height:768;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.thumb{
	width: 20px;
	height: 20px;
	margin-left: 5px;
	margin-top: 5px;
}

body {background-color: black;}
